# 👉 Ignora configurações do IntelliJ
.idea/
*.iml

# 👉 Ignora pasta de saída (build)
out/
target/

# 👉 Ignora arquivos compilados
*.class

# 👉 Ignora arquivos temporários e de log
*.log
*.tmp
*.swp

# 👉 Ignora arquivos de sistema
.DS_Store
Thumbs.db

# 👉 Ignora arquivos de ambiente (ex: senhas ou tokens)
.env
*.key
*.crt



### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store